body {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#video {
  position: absolute;
  /* top: 0; */
  width: 640;
  height: 480;
}
canvas {
  position: absolute;
  /* top: 0; */
  border: solid 1px gray;
}
